<div class="footer-container">
  <div class="stay-connected">
    <div class="icons-container">
      <div class="handles">
        <a mat-button href='https://github.com/vinaypathak07'>
          <img class="icons github" src="assets/github-square.svg" alt="github" />
        </a>
      </div>
      <div class="handles">
        <a mat-button href='https://www.linkedin.com/in/vinay-pathak-5b9262181/'>
          <img class="icons linkedin" src="assets/linkedin.svg" alt="linkedin" />
        </a>
      </div>
      <div class="handles">
        <a mat-button href='https://www.facebook.com/vinay.pathak.79'>
          <img class="icons facebook" src="assets/facebook.svg" alt="facebook" />
        </a>
      </div>
    </div>
  </div>
</div>